* {
  margin: 0;
  padding: 0;
}


.VideoFilesList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.VideoFilesList > li {
  margin: 52px 0;
}

.VideoFileTitleSection {
  margin: 11px 0px;
}

.VideoFile {
  padding: 15px;
}

.VideoFile.AddedToTimeline {
  background-color: green;
}